@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .splide-slider .splide__pagination {
    counter-reset: pagination-num;
    @apply !flex !static !mt-6 !gap-2 ;
  }

  .splide-slider .splide__pagination__page {
    @apply !w-10 !h-10 !flex !items-center !justify-center !rounded-sm !bg-neutral-200 !text-neutral-950 !z-0 !scale-100 !cursor-pointer !opacity-100 hover:!opacity-70 !font-medium;
  }

  .splide-slider .splide__pagination__page.is-active {
    @apply !bg-primary !text-white hover:!opacity-100;
  }

  .splide-slider .splide__pagination__page::before {
    counter-increment: pagination-num;
    content: counter( pagination-num );
  }

  .footer-nav ul {
    @apply flex flex-col font-medium;
  }

  .footer-nav a {
    @apply py-1.5 block underline-offset-4 transition-colors;
    @apply hover:underline hover:text-white;
  }

  .footer-nav--heading {
    @apply font-bold mb-3 block text-white text-lg;
  }

  .footer-nav--heading a {
    @apply p-0;
  }

  .text {
    @apply prose prose-sm;
    @apply md:prose-base;
    @apply prose-a:text-primary prose-a:underline-offset-4 prose-a:no-underline hover:prose-a:underline;
    @apply prose-headings:text-primary prose-headings:font-semibold prose-headings:text-2xl md:prose-headings:text-3xl;
    @apply prose-headings:text-primary prose-headings:font-semibold prose-headings:text-xl md:prose-headings:text-2xl prose-h1:text-2xl prose-h2:text-2xl md:prose-h1:text-3xl md:prose-h2:text-3xl;
    @apply prose-p:text-neutral-600 prose-p:font-medium prose-p:leading-relaxed;
    @apply prose-strong:font-semibold;
    @apply prose-ul:text-neutral-600 prose-ul:font-medium;
  }
}
